.spotify-friend-playlists ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.spotify-friend-playlists li {
  background: #282828;
  border-radius: 9px;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.spotify-friend-playlists img {
  width: 48px;
  height: 48px;
  border-radius: 7px;
  object-fit: cover;
}
